<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  {{#link-to "index" class="navbar-brand"}}
    {{logo-symbol class="logo-symbol"}}
    {{logo-text class="logo-text"}}
  {{/link-to}}

  <ul class="nav navbar-nav float-sm-right index-login">
    {{#link-to "login" class="btn btn-secondary"}}
      Вход
    {{/link-to}}
  </ul>
</nav>
