<div class="media-container">
  <div class="drag">
    <div class="border">
      <h1>Остави файла тука, за да го качиш.</h1>
    </div>
  </div>
</div>

<footer class="footer">
  <button type="button" class="btn btn-success pull-xs-right" {{action "select"}} disabled={{disableSelect}}>Избери</button>
  <button type="button" class="btn btn-primary pull-xs-right btn-upload">Качи</button>
</footer>