{{#each sortedNotifications as |notification|}}
  {{#if notification.url}}
    <a href="{{notification.url}}" class="notification">
      {{x-notification notification=notification}}
    </a>
  {{else}}
    <div class="notification">
      {{x-notification notification=notification}}
    </div>
  {{/if}}
{{/each}}

<!-- <button type="button" class="btn btn-secondary btn-block notification-more">Виж повече</button> -->
