{{#link-to "index" class="notification"}}
  <span class="notification-text">
    <strong>Mertin Dervish</strong> ви последва.
  </span>
  <div class="notification-date">
    преди 10 часа
  </div>
{{/link-to}}
{{#link-to "index" class="notification"}}
  <span class="notification-text">
    <strong>Mertin Dervish</strong> хареса ваша публикация.
  </span>
  <div class="notification-date">
    преди 10 часа
  </div>
{{/link-to}}
{{#link-to "index" class="notification"}}
  <span class="notification-text">
    <strong>Mertin Dervish</strong> хареса ваша публикация.
  </span>
  <div class="notification-date">
    преди 10 часа
  </div>
{{/link-to}}
{{#link-to "index" class="notification"}}
  <span class="notification-text">
    <strong>Mertin Dervish</strong> хареса ваша публикация.
  </span>
  <div class="notification-date">
    преди 10 часа
  </div>
{{/link-to}}
{{#link-to "index" class="notification"}}
  <span class="notification-text">
    <strong>Mertin Dervish</strong> хареса ваша публикация.
  </span>
  <div class="notification-date">
    преди 10 часа
  </div>
{{/link-to}}
{{#link-to "index" class="notification"}}
  <span class="notification-text">
    <strong>Mertin Dervish</strong> хареса ваша публикация.
  </span>
  <div class="notification-date">
    преди 10 часа
  </div>
{{/link-to}}