<nav class="sidebar">
  <ul class="nav">
    <li class="nav-item">  
      {{#link-to "panel.statistics" class="nav-link"}}
        {{fa-icon "area-chart"}}
        <span class="nav-link-text">Статистики</span>
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "panel.articles" current-when="panel.articles.index" class="nav-link"}}
        {{fa-icon "pencil"}}
        <span class="nav-link-text">Статии</span>
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "panel.projects"current-when="panel.projects.index"  class="nav-link"}}
        {{fa-icon "briefcase"}}
        <span class="nav-link-text">Проекти</span>
      {{/link-to}}
    </li>    
    <li class="nav-item">
      {{#link-to "panel.jobs" current-when="panel.jobs.index" class="nav-link"}}
        {{fa-icon "laptop"}}
        <span class="nav-link-text">Работи</span>
      {{/link-to}}
    </li>
  </ul>
</nav>
