<nav class="sidebar">
  <ul class="nav">
    <li class="nav-item">  
      {{#link-to "panel.statistics" class="nav-link"}}
        {{fa-icon "area-chart"}}
        <span class="nav-link-text">Статистики</span>
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "panel.articles" class="nav-link"}}
        {{fa-icon "pencil"}}
        <span class="nav-link-text">Статии</span>
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "panel.projects" class="nav-link"}}
        {{fa-icon "briefcase"}}
        <span class="nav-link-text">Проекти</span>
      {{/link-to}}
    </li>
  </ul>
</nav>
