<div class="review">
  <div class="person">
    <div class="pic">
      <img class="rounded-circle" src="http://images.profileengine.com/large/424054544/natalie.dormer" alt="">
    </div>
    <h4>Natalie Dormer</h4>
    <h5>Actress</h5>
  </div>
  <div class="comment">
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad corrupti fuga nulla odio tenetur a, vero magni sed eveniet obcaecati voluptate vitae harum explicabo sapiente corporis inventore facere, debitis dolorum!"</p>
  </div>
</div>