<div class="person">
  <h3>Natalie Dormer</h3>
  <h5>Actress</h5>
</div>
<div class="comment">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad corrupti fuga nulla odio tenetur a, vero magni sed eveniet obcaecati voluptate vitae harum explicabo sapiente corporis inventore facere, debitis dolorum!</p>
</div>