<div class="col-xl-4">
  <div class="card card-block">
    <h5 class="card-title">{{data.name}}</h5>
    <button class="btn btn-link card-link" data-toggle="modal" data-target=".modal.editSkill" {{action edit index}}>Редактирай</button>
    <button class="btn btn-link card-link" {{action delete index}}>Изтрий</button>
  </div>
</div>
