{{#if show}}
  <div class="stepper-content">
    <h2>3</h2>
  </div>
  <div class="stepper-bottom">
    <button class="btn btn-primary" {{action "back"}}>Назад</button>
    <button class="btn btn-primary" {{action "finish"}}>Завъеши</button>
  </div>
{{/if}}