<h6>WOPO © 2016</h6>
<div class="links">
  {{#link-to "about"}}
    Относно
  {{/link-to}}
  {{#link-to "privacy"}}
    Поверителност
  {{/link-to}}
  {{#link-to "terms"}}
    Условия
  {{/link-to}}
  {{#link-to "contacts"}}
    Контакти
  {{/link-to}}
</div>