<h6>WOPO © 2016</h6>
<div class="links">
  {{#link-to "index"}}
    Относно
  {{/link-to}}
  {{#link-to "index"}}
    Поверителност
  {{/link-to}}
  {{#link-to "index"}}
    Условия
  {{/link-to}}
  {{#link-to "index"}}
    Контакти
  {{/link-to}}
</div>