<h6>WOPO © 2016</h6>
<div class="social-media">
  <div class="icon">
    {{fa-icon "facebook"}}
  </div>
  <div class="icon">
    {{fa-icon "twitter"}}
  </div>
  <div class="icon">
    {{fa-icon "google-plus"}}
  </div>
</div>
<div class="links">
  {{#link-to "index"}}
    Относно
  {{/link-to}}
  {{#link-to "index"}}
    Поверителност
  {{/link-to}}
  {{#link-to "index"}}
    Условия
  {{/link-to}}
  {{#link-to "index"}}
    Контакти
  {{/link-to}}
</div>