<button type="button" class="btn btn-offcanvas {{buttonClasses}}">{{buttonText}}</button>

<div class="offcanvas">
  <div class="offcanvas-container container-fluid">
    <div class="ps-content">
      {{yield}}
    </div>
  </div>
</div>
