<div class="stepper">
  <div class="stepper-top">
    <div class="divider"></div>
    <button class="btn btn-link done">
      <span class="tag tag-pill tag-primary">{{fa-icon "check"}}</span>
      <span class="title">Избери тема</span>
    </button>
    <button class="btn btn-link active">
      <span class="tag tag-pill tag-primary">2</span>
      <span class="title">Попълни информацията</span>
    </button>
    <button class="btn btn-link locked">
      <span class="tag tag-pill tag-primary">3</span>
      <span class="title">Публикувай</span>
    </button>
  </div>
  <div class="stepper-content">
    <h2>1</h2>
  </div>
  <div class="stepper-content">
    <h2>2</h2>
  </div>
  <div class="stepper-content">
    <h2>3</h2>
  </div>
</div>