body
  overflow-x: hidden
  width: 100vw
  word-wrap: break-word

.center-wrapper
  min-height: 100vh
  padding: 10px
  box-sizing: border-box
  display: flex
  align-items: center

  &--auth
    background: #3687c0
  
  &--welcome
    background: $gray-lighter
  
    @include media-breakpoint-up(xs)
      padding-top: 60px

    @include media-breakpoint-down(xs)
      padding-top: 110px

.center-content
  margin: auto
  width: 100%

  &--auth
    max-width: 400px

  &--welcome
    max-width: 960px

  .reasons
    margin: 75px
    padding: 50px 100px

    .profesional-portfolio, .full-control, .work
      margin: 75px 0
      padding: 50px 0
      max-height: 500px

    .text-xs-left, .text-xs-right
      padding-top: 20px
      max-width: 500px
    
    .text-xs-left
      float: left

      .icon
        text-align: right

    .text-xs-right
      float: right      

      .icon
        text-align: left

    h2
      line-height: 60px
      color: #212121

    h4
      font-weight: 400
      line-height: 44px
      color: #727272

    .icon
      display: inline-block

      &.theme-pc
        width: 430px

      &.person-managing
        width: 380px

      &.shaking-hands
        width: 500px

  .reviews
    margin: 75px
    padding: 50px 100px

    .person
      display: inline-block
      float: left

      img
        max-width: 125px

      h4
        color: #212121
        padding-top: 10px

      h5
        color: #727272

    .comment
      display: inline-block
      max-width: 500px

      p
        font-size: 24px
        line-height: 44px
    
    .fa
      font-size: 75px
    
    .fa-chevron-left
      float: left
      
    .fa-chevron-right
      float: right

.container
  margin-bottom: 20px
  
  @include media-breakpoint-up(xs)
    margin-top: 70px

  @include media-breakpoint-down(xs)
    margin-top: 120px

.page-tabs
  margin: 20px 0
  position: relative

  &.fade-left:before
    content: ""
    background-image: linear-gradient(to right, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .1), rgba(51, 51, 51, 0) 10%) !important
    width: 100%
    height: 38px
    top: 0
    position: absolute
    z-index: 3
    pointer-events: none

  &.fade-right:after
    content: ""
    background-image: linear-gradient(to right, rgba(51, 51, 51, 0) 90%, rgba(0, 0, 0, .1), rgba(0, 0, 0, .3) 100%) !important
    width: 100%
    height: 38px
    top: 0
    position: absolute
    z-index: 3
    pointer-events: none

  .page-tabs-scroll
    text-align: center
    overflow: hidden
    height: 45px
    overflow-x: auto!important
    overflow-y: hidden!important
    white-space: nowrap!important
    -webkit-overflow-scrolling: touch!important
    -ms-overflow-style: -ms-autohiding-scrollbar!important

    .btn-group
      font-size: 0

      .btn
        float: none

.page-title
  @include clearfix()
  padding-bottom: 10px
  margin-bottom: 20px
  border-bottom: 1px solid $gray-lightest

.section-title
  @include clearfix()
  padding-bottom: 15px

.input-heading
  font-size: 18px

  &:focus
    outline: none

.btn-group-title
  margin-top: 20px

hr
  height: 3px

pre
  border-radius: 5px
  background: $gray-lighter
  padding: 5px 10px
  margin-bottom: 0.5rem
  color: #000

blockquote
  @extend .blockquote