.center-wrapper
  min-height: 100vh
  padding: 10px
  box-sizing: border-box
  display: flex
  align-items: center

  &--auth
    background: #3687c0
  
  &--stepper
    background: $gray-lighter

.center-content
  margin: auto
  width: 100%

  &--auth
    max-width: 400px

  &--stepper
    max-width: 960px

.page-wrapper
  margin-left: 110px

.container
  margin-top: 70px
  margin-bottom: 20px    

.page-title
  @include clearfix()
  padding-bottom: 10px
  margin-bottom: 20px
  border-bottom: 1px solid $gray-lightest

.input-heading
  font-size: 18px

  &:focus
    outline: none

.btn-group-title
  margin-top: 20px

hr
  height: 3px

pre
  border-radius: 5px
  background: $gray-lighter
  padding: 5px 10px
  margin-bottom: 0.5rem
  color: #000

blockquote
  @extend .blockquote

@include media-breakpoint-down(sm)
  .page-wrapper
    margin-left: 0