body
  padding-top: 70px

hr
  height: 3px

.page-wrapper
  margin-left: 110px

.container
  margin-bottom: 20px

  h5
    margin-top: 20px

@include media-breakpoint-down(sm)
  .page-wrapper
    margin-left: 0