.custom-controls-stacked
  @include clearfix()

.form-section
  margin-bottom: 20px

  &:not(:last-child)
    border-bottom: 1px solid $gray-lightest

  .form-group
    &.row, &.no-margin
      margin-bottom: 0

    label
      display: block

    .form-check:last-child()
      margin-bottom: 0

  .btn-form
    margin-bottom: 30px

.form-bottom
  @include clearfix()
  padding-top: 14px
