//$gray-dark:                 #373a3c !default;
//$gray:                      #55595c !default;
//$gray-light:                #818a91 !default;
//$gray-lighter:              #eceeef !default;
//$gray-lightest:             #f7f7f9 !default;
$gray-dark: #757575
$gray: #9E9E9E
$gray-light: #BDBDBD
$gray-lighter: #E0E0E0
$gray-lightest: #EEEEEE