.navbar
  background: #55585d
  line-height: 50px
  padding: 0 15px

  .navbar-brand
    @include clearfix()
    height: 50px
    padding: 13.5px 0

    .logo-symbol
      float: left
      height: 23px

      svg
        height: 23px
        vertical-align: top

    .logo-text
      float: left
      height: 23px
      margin-left: 7px

      svg
        height: 23px
        vertical-align: top

  .nav-item + .nav-item
    margin: 0

  .nav-item
    &.button
      line-height: 45px
      
    .dropdown-img
      height: 36px
      border-radius: 0.15rem
      vertical-align: top
      box-sizing: content-box
      padding: 7px 5px 7px 0

    .dropdown-toggle
      line-height: 50px
      padding: 0 12px
      color: $gray-light
      text-decoration: none
      border: none
      vertical-align: baseline
      cursor: pointer

      &:hover, &:focus
        color: $gray-lighter

      &::after
        margin: 0
        content: none

    &.notifications-desktop .dropdown-menu-right
      min-width: 260px
      padding: 0

      .ps-content
        height: 200px
        position: relative
        overflow: hidden

    .dropdown-menu-right
      line-height: initial
      padding: 0.5rem 0

      .dropdown-item
        padding: 7px 20px
        display: block
        text-decoration: none

        &.active
          background: none
          color: $gray-dark

          &:hover
            background: #f5f5f5

    .nav-link
      padding: 0 12px
      color: $gray-light

      &:hover, &:focus
        color: $gray-lighter
        
      &.active
        color: #fff
        pointer-events: none
        background: #4d5256
        
        &:focus, &:hover
          color: #fff
          background: #4d5256

    .fa
      padding-right: 3px

@include media-breakpoint-down(sm)
  .navbar-nav
    text-align: center

    .nav-item
      display: inline-block
      float: none
      .fa
        font-size: 20px
        padding: 0
        
  .navbar-brand,
  .dropdown.nav-item.options,
  .dropdown.nav-item.notifications-desktop,
  .nav-item.panel-desktop,
  .nav-link-text
    display: none

@include media-breakpoint-up(md)
  .notifications-mobile,
  .panel-mobile
    display: none