.jumbotron
  background-color: #e0e0e0
  padding-bottom: 0
  margin: 0
  
  h2
    margin-top: 55px
    color: #212121
    font-weight: 400

  .btn
    margin-top: 15px
    font-size: 18px

  .themes
    margin: 40px

    .primary-theme
      width: 550px
      position: relative
      display: inline-block

    .secondary-theme
      width: 475px
      margin-left: -200px
      margin-right: -200px
      display: inline-block

      svg
        margin-bottom: 20px