.note-editor
  .panel-heading.note-toolbar
    background: #ddd

    .note-para .dropdown-menu
      width: 185px
      margin: 0
      padding: 0

      li
        &:hover
          background: $gray-lightest

        a
          display: block
          color: $gray-dark
          padding: 5px
          
          &:hover
            text-decoration: none

          p, pre
            margin: 0

      .dropdown-fontname
        font-size: 14px
    
  .note-btn.dropdown-toggle::after
    display: none

