.statistics
  color: #fff
  margin-bottom: 25px
  
  .details
    right: 20px
    position: absolute

    h1
      float: right
      display: block
      margin: 0

    span
      display: block

  .fa
    font-size: 80px
    line-height: 80px
    float: left
    color: rgba(255, 255, 255, .4)