.statistics
  color: #fff
  margin-bottom: 25px
  
  .details
    right: 20px
    position: absolute

    h1
      text-align: right
      display: block
      margin: 0

    span
      display: block

  .fa
    font-size: 80px
    line-height: 80px
    float: left
    color: rgba(255, 255, 255, .4)

.card-columns
  @include media-breakpoint-between(sm, md)
    column-count: 2

.card
  text-align: center

  .card-title,
  .card-subtitle
    @include clearfix()
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    padding-bottom: 1rem
    margin-bottom: 1rem
    word-wrap: break-word

  .card-img
    height: 200px
    display: flex
    align-items: center
    margin-bottom: 1rem

    img
      max-height: 200px

  .card-text
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

    &.border
      border-bottom: 1px solid rgba(0, 0, 0, 0.1)
      padding-bottom: 1rem