.note-editor  
  .panel-heading.note-toolbar
    background: #ddd

    .note-para .dropdown-menu,
    .dropdown-fontname,
    .dropdown-fontsize, 
    .dropdown-line-height
      width: 185px
      margin: 0
      padding: 0

      li
        &:hover
          background: $gray-lightest

        a
          display: block
          color: $gray-dark
          padding: 5px
            
          &.checked
            background: $gray-lighter
            pointer-events: none

          &:hover
            text-decoration: none

          p, pre
            margin: 0

  .note-btn.dropdown-toggle::after
    display: none

