.form-section
  border-bottom: 1px solid $gray-lightest
  margin-bottom: 20px

  .form-group
    padding: 10px 10px

    label
      display: block

    .form-check:last-child()
      margin-bottom: 0

  .btn-danger,
  .btn-success.download
    margin-bottom: 30px