.stepper
  background: $gray-lighter
  
  .stepper-top
    border-bottom: 1px solid $gray-lighter
    background: #fff
    position: relative
    display: flex
    justify-content: space-between
    @include media-breakpoint-down(sm)
      flex-direction: column

    .divider
      display: inline-block
      border-top: 1px solid $gray-lighter
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      margin: auto
      height: 1px

    .step
      background: #fff
      height: 72px
      line-height: 72px
      padding: 0 20px
      text-decoration: none
      outline: none
      z-index: 1
      position: relative
      display: block
      
      &.done
        color: $brand-success

        .tag
          background: $brand-success

      &.locked
        color: $gray

        .tag
          background: $gray

      .tag
        width: 25px
        height: 25px
        line-height: 25px
        padding: 0

      .title
        font-size: 16px
        margin-left: 5px
  
  .stepper-content
    width: 100%
    padding: 30px
    background: #fff

    &:not(.show)
      display: none

  .stepper-bottom
    border-top: 1px solid $gray-lighter
    background: #fff
    padding: 20px
