.container
  .section-title
    padding: 50px 0 20px 0
    
    h5
      font-size: 24px

  .section
    margin-bottom: 50px
    p
      font-size: 20px
      line-height: 34px
      text-align: justify
  
  .form-group
    margin: 50px auto
    max-width: 300px

  .form-control
    border: none
    border-radius: 0
    border-bottom: 2px solid $gray-dark

    &:active, &:focus
      border-bottom: 2px solid $brand-primary