.footer
  height: 70px
  background-color: #56565e
  position: relative
  padding: 10px 40px

  h6
    color: #fff
    font-size: 14px
    display: inline
    line-height: 50px
  
  .social-media
    display: inline-block
    line-height: 50px

  .links
    font-size: 12px
    float: right
    line-height: 50px

    a
      color: #fff
      margin: 0 10px

      &:hover, &:focus
        opacity: 0.7
        text-decoration: none