.home-page
  margin: 0
  padding: 0
  width: auto

  .reasons
    .profesional-portfolio, .full-control, .work
      margin: 150px 0
      padding: 125px 100px

    .full-control
      background-color: $gray-lightest

    .description
      max-width: 500px
    
    .profesional-portfolio, .work
      .description
        float: left
        animation: slideLeftReturn 1.5s ease-in-out

      .icon
        text-align: right
        animation: slideRightReturn 1.5s ease-in-out

    .full-control
      .description
        float: right
        animation: slideRightReturn 1.5s ease-in-out

      .icon
        text-align: left
        animation: slideLeftReturn 1.5s ease-in-out

    h2
      line-height: 60px
      color: #212121

    h4
      font-weight: 400
      line-height: 44px
      color: #727272

    .icon
      display: inline-block

      &.theme-pc
        width: 430px

      &.person-managing
        width: 380px

      &.shaking-hands
        width: 500px
  
    @include media-breakpoint-down(lg)
      .profesional-portfolio, .full-control, .work
        margin: 100px 0
        padding: 75px 50px

      .theme-pc
        max-width: 380px

      .person-managing
        max-width: 330px

      .shaking-hands
        max-width: 380px

    @include media-breakpoint-down(md)
      .description
        max-width: 350px

      .icon
        max-width: 300px
        padding-top: 15px

    @include media-breakpoint-down(sm)
      .profesional-portfolio, .full-control, .work
        margin: 100px 0
        padding: 50px 25px

        .description
          display: block
          margin: 0 auto
          float: none !important

          h2
            font-size: 26px
            line-height: 50px

          h4
            font-size: 20px
            line-height: 34px

        .icon
          max-width: 220px

  .reviews
    padding: 0 50px

    .mobile-nav
      display: none

    .person
      display: inline-block
      padding-right: 35px
      animation: slideLeftReturn 1.5s ease-in-out

      img
        max-width: 125px

      h4
        color: #212121
        padding-top: 10px

      h5
        color: #727272
        font-weight: 400

    .comment
      display: inline-block
      max-width: 500px
      animation: slideRightReturn 1.5s ease-in-out

      p
        font-size: 24px
        line-height: 44px
  
    .fa
      cursor: pointer
      font-size: 75px
      line-height: 236px

      &:focus, &:hover
        opacity: 0.7
        
    .fa-chevron-left
      float: left
      animation: slideLeftReturn 1.5s ease-in-out
      
    .fa-chevron-right
      float: right
      animation: slideRightReturn 1.5s ease-in-out

    @include media-breakpoint-down(md)
      .reviews
        padding: 0 25px

      .fa-chevron-left, .fa-chevron-right
        display: none

      .mobile-nav
        display: inline
        animation: slideUpReturn 2s ease-in-out

        .fa
          cursor: pointer
          margin: 0 5px
          color: $gray-dark
          font-size: 16px
          line-height: 100px

      .person
        padding: 10px 0
        display: block
      
      .comment
        p
          font-size: 20px
          line-height: 34px

  .bottom
    margin-top: 250px
    padding: 125px 50px
    position: relative
    overflow: hidden
    display: flex
    justify-content: center
    align-content: space-around
        
    h3
      font-weight: 400
      animation: slideUpReturn 1.5s ease-in-out
      color: #212121

    .btn
      margin-top: 15px
      font-size: 22px
      font-weight: 300
      animation: slideUpReturn 1.5s ease-in-out

    svg
      position: absolute
      left: 0
      top: 0
      z-index: -1
      margin-top: -280px

    @include media-breakpoint-down(lg)
      svg
        margin-top: -200px

    @include media-breakpoint-down(md)
      .bottom
        margin-top: 150px
        max-height: 300px

        h3
          font-size: 25px

        .btn 
          font-size: 20px

        svg
          margin-top: -140px

    @include media-breakpoint-down(sm)
      .bottom
        margin: 0
        padding: 100px 25px
        max-height: 260px

        h3
          font-size: 18px

        .btn
          margin: 0
          font-size: 14px

        svg
          margin-top: -130px