.home-page
  margin: 0
  padding: 0
  width: auto

  .reasons
    .profesional-portfolio, .full-control, .work
      margin: 150px 0
      padding: 125px 100px

    .full-control
      background-color: $gray-lightest

    .description
      max-width: 500px
    
    .profesional-portfolio, .work
      .description
        float: left

      .icon
        text-align: right

    .full-control
      .description
        float: right    

      .icon
        text-align: left

    h2
      line-height: 60px
      color: #212121

    h4
      font-weight: 400
      line-height: 44px
      color: #727272

    .icon
      display: inline-block

      &.theme-pc
        width: 430px

      &.person-managing
        width: 380px

      &.shaking-hands
        width: 500px
  
    @include media-breakpoint-down(lg)
      .profesional-portfolio, .full-control, .work
        margin: 100px 0
        padding: 75px 50px

      .theme-pc
        max-width: 380px

      .person-managing
        max-width: 330px

      .shaking-hands
        max-width: 380px

    @include media-breakpoint-down(md)
      .description
        max-width: 350px

      .icon
        max-width: 300px    

    @include media-breakpoint-down(sm)
      .description
        display: block
        margin: 0 auto
        float: none !important

  .reviews
    padding: 0 100px

    .person
      display: inline-block
      padding-right: 35px

      img
        max-width: 125px

      h4
        color: #212121
        padding-top: 10px

      h5
        color: #727272
        font-weight: 400

    .comment
      display: inline-block
      max-width: 500px

      p
        font-size: 24px
        line-height: 44px
  
    .fa
      font-size: 75px
      line-height: 236px
    
    .fa-chevron-left
      float: left
      
    .fa-chevron-right
      float: right

  .bottom
    margin: 75px
    padding: 50px 100px
    
    h3
      font-weight: 400

    .btn
      margin-top: 15px
      font-size: 22px
      font-weight: 300