.media-container
  @include clearfix()
  min-height: calc(100vh - 58px)
  margin-bottom: 58px
  padding: 0.75rem
  position: absolute
  left: 0
  right: 0

  .drag
    position: fixed
    top: 0
    left: 0
    right: 0
    width: 100%
    height: calc(100vh - 58px)
    background: rgba(255, 255, 255, .8)
    text-align: center
    pointer-events: none
    opacity: 0
    z-index: 1

    .border
      position: absolute
      top: 20px
      left: 20px
      bottom: 20px
      right: 20px
      border: 5px dashed $gray-light
      border-radius: 20px

    h1
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

  &.dz-drag-hover .drag
    opacity: 1

  .media
    margin-top: 0.75rem
    padding-left: 0.75rem
    padding-right: 0.75rem

    @include media-breakpoint-down(xs)
      @include make-col(12)

    @include media-breakpoint-only(sm)
      @include make-col(6)

    @include media-breakpoint-only(md)
      @include make-col(4)

    @include media-breakpoint-only(lg)
      @include make-col(3)

    @include media-breakpoint-up(xl)
      @include make-col(2)

.media-footer
  @include clearfix()
  position: fixed
  bottom: 0
  left: 0
  right: 0
  padding: 10px
  background: #fff

  .btn
    margin-left: 10px