<div class="page-title">
  <h2 class="pull-xs-left">Моите проекти</h2>
  {{#link-to "content.projects.new" class="btn btn-primary pull-xs-right"}}
    Нов проект
  {{/link-to}}
</div>
<div class="card-columns">
  <div class="card card-block">
    <h4 class="card-title">Малък полиглот</h4>
    <h6 class="card-subtitle text-muted">2015-2016</h6>
    <hr>
    <img class="img-fluid m-x-auto d-block" src="http://goo.gl/CQTpGC" alt="The Starry Night">
    <p class="card-text">Малък полиглот е сайт, чрез който учениците лесно и забавно ще поставят основите на чуждия език...</p>
    <hr>
    {{#link-to "content.articles.index" class="card-link"}}Посети{{/link-to}}
    {{#link-to "content.articles.index" class="card-link"}}Редактирай{{/link-to}}
    {{#link-to "content.articles.index" class="card-link"}}Изтрий{{/link-to}}
  </div>
  <div class="card card-block">
    <h4 class="card-title">Angora</h4>
    <h6 class="card-subtitle text-muted">2015-2016</h6>
    <hr>
    <img class="img-fluid m-x-auto d-block" src="http://goo.gl/CQTpGC" alt="The Starry Night">
    <p class="card-text">Целта на Angora е да предостави най-добрите страни на динамичния сървър-сайд (лесно управление на съдържанието) и генераторите на статични сайтове (ефективност).</p>
    <hr>
    {{#link-to "content.articles.index" class="card-link"}}Посети{{/link-to}}
    {{#link-to "content.articles.index" class="card-link"}}Редактирай{{/link-to}}
    {{#link-to "content.articles.index" class="card-link"}}Изтрий{{/link-to}}
  </div>
</div>
