<div class="container">
  {{#page-tabs}}
      {{#link-to "dashboard.content.articles" class="btn btn-secondary"}}Статии{{/link-to}}
      {{#link-to "dashboard.content.projects.index" class="btn btn-secondary"}}Проекти{{/link-to}}
      {{#link-to "dashboard.content.others" class="btn btn-secondary"}}Други{{/link-to}}
  {{/page-tabs}}

  {{outlet}}
</div>