<div class="container">
  {{#page-tabs}}
      {{#link-to "dashboard.settings.portfolio" class="btn btn-secondary"}}Портфолио{{/link-to}}
      {{#link-to "dashboard.settings.profile" class="btn btn-secondary"}}Профил{{/link-to}}
  {{/page-tabs}}

  {{outlet}}
</div>