<header class="error-top">
  <div class="container-fluid">
    <h1 class="error-code">404</h1>
    <p class="error-message">{{t "errors.notFound"}}</p>
  </div>
</header>
<footer class="error-bottom">
  {{link-to (t "home") "index" class="btn btn-outline-danger"}}
</footer>