{{sidebar-nav}}
<div class="page-wrapper">
  <div class="container">
    <div class="page-title">
      <h2 class="pull-xs-left">Нова статия</h2>
    </div>
    <div class="form-group">
      <label for="title">Заглавие</label>
      <input type="text" name="title" id="title" class="form-control" placeholder="Моето страхотно заглавие..">
    </div>
    <div class="form-group">
      <label for="content">Съдържание</label>
      {{text-editor}}
    </div>
    <div class="form-group">
      <label for="tags">Тагове</label>
      <input type="text" name="tags" id="tags" class="form-control" placeholder="Отделяйте таговете със запетаи. Пример: рисунка, карикатура, изобразително изкуство">
    </div>
    <div class="form-group">
      <button name="publish" class="btn btn-primary">Публикувай</button>
      <button name="save" class="btn btn-outline-primary">Запази</button>
    </div>
  </div>
</div>
