{{sidebar-nav}}
<div class="page-wrapper">
  <div class="container">
    <h2>Моите статии</h2>
    <hr>
    <div class="text-editor">
      {{text-editor value=createArticle}}
    </div>
  </div>
</div>
