<div class="container">
  <h2>Панел</h2>
  <hr>
  {{#link-to "panel.statistics" class="btn btn-secondary btn-block"}}
    Статистики
  {{/link-to}}
  <h5>Статии</h5>
  <div class="btn-group-vertical btn-block">
    {{#link-to "index" class="btn btn-secondary"}}
      Създаване
    {{/link-to}}
    {{#link-to "panel.articles" class="btn btn-secondary"}}
      Всички
    {{/link-to}}
  </div>
  <h5>Проекти</h5>
  <div class="btn-group-vertical btn-block">
    {{#link-to "index" class="btn btn-secondary"}}
      Добавяне
    {{/link-to}}
    {{#link-to "panel.projects" class="btn btn-secondary"}}
      Всички
    {{/link-to}}
  </div>
  <h5>Предишни работни места</h5>
  <div class="btn-group-vertical btn-block">
    {{#link-to "index" class="btn btn-secondary"}}
      Добавяне
    {{/link-to}}
    {{#link-to "panel.jobs" class="btn btn-secondary"}}
      Всички
    {{/link-to}}
  </div>
  <h5>Настройки</h5>
  <div class="btn-group-vertical btn-block">
    {{#link-to "index" class="btn btn-secondary"}}
      Смени e-mail
    {{/link-to}}
    {{#link-to "index" class="btn btn-secondary"}}
      Смени паролата
    {{/link-to}}
    {{#link-to "index" class="btn btn-secondary"}}
      Известия
    {{/link-to}}
  </div>
</div>