<div class="container">
  <h1>Панел</h1>
  {{#link-to "index" class="btn btn-secondary btn-block"}}
    Статистики
  {{/link-to}}
  <h4>Статии</h4>
  <div class="btn-group-vertical btn-block">
    {{#link-to "index" class="btn btn-secondary"}}
      Създаване
    {{/link-to}}
    {{#link-to "index" class="btn btn-secondary"}}
      Всички
    {{/link-to}}
  </div>
  <h4>Проекти</h4>
  <div class="btn-group-vertical btn-block">
    {{#link-to "index" class="btn btn-secondary"}}
      Добавяне
    {{/link-to}}
    {{#link-to "index" class="btn btn-secondary"}}
      Всички
    {{/link-to}}
  </div>
  <h4>Предишни работни места</h4>
  <div class="btn-group-vertical btn-block">
    {{#link-to "index" class="btn btn-secondary"}}
      Добавяне
    {{/link-to}}
    {{#link-to "index" class="btn btn-secondary"}}
      Всички
    {{/link-to}}
  </div>
  <h4>Настройки</h4>
  <div class="btn-group-vertical btn-block">
    {{#link-to "index" class="btn btn-secondary"}}
      Смени e-mail
    {{/link-to}}
    {{#link-to "index" class="btn btn-secondary"}}
      Смени паролата
    {{/link-to}}
    {{#link-to "index" class="btn btn-secondary"}}
      Известия
    {{/link-to}}
  </div>
</div>