<div class="container">
  <div class="page-title">
    <h2 class="pull-xs-left">Панел</h2>
  </div>
  {{#link-to "panel.statistics" class="btn btn-secondary btn-block"}}
    Статистики
  {{/link-to}}
  <h5 class="btn-group-title">Статии</h5>
  <div class="btn-group-vertical btn-block">
    {{#link-to "panel.articles.new" class="btn btn-secondary"}}
      Създаване
    {{/link-to}}
    {{#link-to "panel.articles.index" class="btn btn-secondary"}}
      Всички
    {{/link-to}}
  </div>
  <h5 class="btn-group-title">Проекти</h5>
  <div class="btn-group-vertical btn-block">
    {{#link-to "panel.projects.new" class="btn btn-secondary"}}
      Добавяне
    {{/link-to}}
    {{#link-to "panel.projects.index" class="btn btn-secondary"}}
      Всички
    {{/link-to}}
  </div>
  <h5 class="btn-group-title">Работни места</h5>
  <div class="btn-group-vertical btn-block">
    {{#link-to "panel.jobs.new" class="btn btn-secondary"}}
      Добавяне
    {{/link-to}}
    {{#link-to "panel.jobs.index" class="btn btn-secondary"}}
      Всички
    {{/link-to}}
  </div>
  <h5 class="btn-group-title">Настройки</h5>
  <div class="btn-group-vertical btn-block">
    {{#link-to "index" class="btn btn-secondary"}}
      Смени e-mail
    {{/link-to}}
    {{#link-to "index" class="btn btn-secondary"}}
      Смени паролата
    {{/link-to}}
    {{#link-to "index" class="btn btn-secondary"}}
      Известия
    {{/link-to}}
  </div>
</div>