{{sidebar-nav}}
<div class="page-wrapper">
  <div class="container">
    <h2>Моите статистики</h2>
    <hr>
    <div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card statistics">
      <div class="card-block">
        {{fa-icon "user"}}
        <div class="card-text pull-xs-right">
          <h1>
            23
          </h1> 
          <p>
            последователя
          </p>
        </div>
        <div class="card-footer">
          {{#link-to "panel.statistics" class="btn btn-secondary btn-block"}}
            Виж повече
          {{/link-to}}
        </div>
      </div>
    </div>
    <div class="card statistics">
      <div class="card-block">
        <p class="card-text">
          
        </p>
        <div class="card-footer">
          {{#link-to "panel.statistics" class="btn btn-secondary btn-block"}}
            Виж повече
          {{/link-to}}
        </div>
      </div>
    </div>
    <div class="card statistics">
      <div class="card-block">
        <p class="card-text">
          
        </p>
        <div class="card-footer">
          {{#link-to "panel.statistics" class="btn btn-secondary btn-block"}}
            Виж повече
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
