{{title "Магазин за теми"}}
{{nav-bar}}
<div class="container">
  <div class="page-title">
    <h2 class="pull-xs-left">Магазин за теми</h2>
  </div>
  <div class="card-columns">
    <div class="card card-block">
      <h4 class="card-title">Alive</h4>
      <hr>
      <img class="img-fluid m-x-auto d-block" src="http://goo.gl/CQTpGC" alt="The Starry Night">
      <p class="card-text">Alive is a theme with space colours...</p>
      <hr>
      {{#link-to "dashboard.content.articles.index" class="card-link"}}Посети{{/link-to}}
      {{#link-to "dashboard.content.articles.index" class="card-link"}}Инсталирай{{/link-to}}
    </div>
    <div class="card card-block">
      <h4 class="card-title">Illuminate</h4>
      <hr>
      <img class="img-fluid m-x-auto d-block" src="http://goo.gl/IVBfOQ" alt="Irises">
      <p class="card-text">Illuminate is a theme with pale colours...</p>
      <hr>
      {{#link-to "dashboard.content.articles.index" class="card-link"}}Посети{{/link-to}}
      {{#link-to "dashboard.content.articles.index" class="card-link"}}Инсталирай{{/link-to}}
    </div>
  </div>
</div>