{{title "Магазин за теми"}}
{{nav-bar}}
<div class="container">
  <div class="page-title">
    <h2 class="pull-xs-left">Магазин за теми</h2>
  </div>
  <div class="row">
    <div class="col-xl-4 col-md-6">
      <div class="card card-block">
        <div class="card-title">
          <h4 class="pull-xs-left">Belong</h4>
          {{#link-to "dashboard.theme.store" class="btn btn-success pull-xs-right"}}Инсталирай{{/link-to}} 
        </div>
        <div class="card-img">
          <img class="img-fluid m-x-auto d-block" src="http://goo.gl/CQTpGC" alt="The Starry Night">
        </div>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus purus in nulla lobortis eleifend. Curabitur at euismod leo.</p>
        {{#link-to "dashboard.content.articles.index" class="card-link"}}Демо{{/link-to}}
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="card card-block">
        <div class="card-title">
          <h4 class="pull-xs-left">Belong</h4>
          {{#link-to "dashboard.theme.store" class="btn btn-success pull-xs-right"}}Инсталирай{{/link-to}} 
        </div>
        <div class="card-img">
          <img class="img-fluid m-x-auto d-block" src="http://goo.gl/CQTpGC" alt="The Starry Night">
        </div>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus purus in nulla lobortis eleifend. Curabitur at euismod leo.</p>
        {{#link-to "dashboard.content.articles.index" class="card-link"}}Демо{{/link-to}}
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="card card-block">
        <div class="card-title">
          <h4 class="pull-xs-left">Belong</h4>
          {{#link-to "dashboard.theme.store" class="btn btn-success pull-xs-right"}}Инсталирай{{/link-to}} 
        </div>
        <div class="card-img">
          <img class="img-fluid m-x-auto d-block" src="http://goo.gl/CQTpGC" alt="The Starry Night">
        </div>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus purus in nulla lobortis eleifend. Curabitur at euismod leo.</p>
        {{#link-to "dashboard.content.articles.index" class="card-link"}}Демо{{/link-to}}
      </div>
    </div>
  </div>
</div>