{{sidebar-nav}}
<div class="page-wrapper">
  <div class="container">
    <div class="page-title">
      <h2 class="pull-xs-left">Моите работи</h2>
      {{#link-to "panel.jobs.new" class="btn btn-primary pull-xs-right"}}
        Нова работа
      {{/link-to}}
    </div>
    <div class="card-columns">
      <div class="card card-block">
        <h4 class="card-title">Художник</h4>
        <h6 class="card-subtitle text-muted">2015-2016</h6>
        <hr>
        <p class="card-text">Работех при ОДК "Шумен". Учех децата как да изразяват себе си чрез изобразителното изкуство.</p>
        <hr>
        {{#link-to "panel.articles.index" class="card-link"}}Посети{{/link-to}}
        {{#link-to "panel.articles.index" class="card-link"}}Редактирай{{/link-to}}
        {{#link-to "panel.articles.index" class="card-link"}}Изтрий{{/link-to}}
      </div>
    </div>
  </div>
</div>