{{sidebar-nav}}
<div class="page-wrapper">
  <div class="container">
    <div class="page-title">
      <h2 class="pull-xs-left">Моите проекти</h2>
      {{#link-to "panel.projects.new" class="btn btn-primary pull-xs-right"}}
        Нов проект
      {{/link-to}}
    </div>
  </div>
</div>