{{title "Настройки на портфолиото"}}
<div class="page-title">
  <h2 class="pull-xs-left">Настройки на портфолиото</h2>
</div>
<section>
  <div class="page-title">
    <h4 class="pull-xs-left">Главни</h4>
  </div>
</section>
<section>
  <div class="page-title">
    <h4 class="pull-xs-left">Абонаменти</h4>
  </div>
</section>
<section>
  <div class="page-title">
    <h4 class="pull-xs-left">Публикуване</h4>
  </div>
</section>
<section>
  <div class="page-title">
    <h4 class="pull-xs-left">Изтегляне</h4>
  </div>
</section>
<section>
  <div class="page-title">
    <h4 class="pull-xs-left">Изтриване на портфолиото</h4>
  </div>
</section>