{{title "Настройки на профила"}}
<div class="page-title">
  <h2 class="pull-xs-left">Настройки на профила</h2>
</div>
<section>
  <div class="page-title">
    <h4 class="pull-xs-left">Профилна снимка</h4>
  </div>
</section>
<section>
  <div class="page-title">
    <h4 class="pull-xs-left">Име</h4>
  </div>
</section>
<section>
  <div class="page-title">
    <h4 class="pull-xs-left">E-mail</h4>
  </div>
</section>
<section>
  <div class="page-title">
    <h4 class="pull-xs-left">Парола</h4>
  </div>
</section>
<section>
  <div class="page-title">
    <h4 class="pull-xs-left">Държава</h4>
  </div>
</section>
<section>
  <div class="page-title">
    <h4 class="pull-xs-left">Език</h4>
  </div>
</section>
<section>
  <div class="page-title">
    <h4 class="pull-xs-left">Изтриване на профила</h4>
  </div>
</section>