{{title "Настройки на профила"}}
<div class="page-title">
  <h2 class="pull-xs-left">Настройки на профила</h2>
</div>
<section class="form-section">
  <div class="section-title">
    <h4 class="pull-xs-left">Главни</h4>
  </div>
  <div class="form-group">
    <label for="picture">Профилна снимка</label>
    <input type="file" class="form-control-file" id="picture">
  </div>
  <div class="form-group">
    <label for="name">Име</label>
    <input type="text" class="form-control" id="name" placeholder="John Doe">
  </div>
  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="text" class="form-control" id="email" placeholder="example@example.com">
  </div>
  <div class="form-group">
    <label for="password">Сегашна парола</label>
    <input type="password" class="form-control" id="password">
  </div>
  <div class="form-group">
    <label for="password">Нова парола</label>
    <input type="password" class="form-control" id="password">
  </div>
</section>
<section class="form-section">
  <div class="section-title">
    <h4 class="pull-xs-left">Държава</h4>
  </div>
  <div class="form-group">
    {{x-select2 options=countries}}
  </div>
</section>
<section class="form-section">
  <div class="section-title">
    <h4 class="pull-xs-left">Език</h4>
  </div>
  <div class="form-group">
    {{x-select2 options=languages}}
  </div>
</section>
<section class="form-section">
  <div class="section-title">
    <h4 class="pull-xs-left">Изтриване на профила</h4>
  </div>
  <div class="btn btn-danger">
    Изтриване
  </div>
</section>
<div class="btn btn-success pull-xs-right">Запазване</div>