{{title "Други"}}
<div class="page-title">
  <h2 class="pull-xs-left">Други</h2>
</div>
<section>
  <div class="page-title">
    <h4 class="pull-xs-left">За Вас</h4>
  </div>
</section>
<section>
  <div class="page-title">
    <h4 class="pull-xs-left">Умения</h4>
  </div>
</section>
<section>
  <div class="page-title">
    <h4 class="pull-xs-left">Работни места</h4>
  </div>
</section>
<section>
  <div class="page-title">
    <h4 class="pull-xs-left">Образование и обучение</h4>
  </div>
</section>
<section>
  <div class="page-title">
    <h4 class="pull-xs-left">Сертификати</h4>
  </div>
</section>