<div class="page-title">
  <h2 class="pull-xs-left">Моите работни места</h2>
  {{#link-to "content.jobs.new" class="btn btn-success pull-xs-right"}}
    Ново работно място
  {{/link-to}}
</div>
<div class="card-columns">
  <div class="card card-block">
    <h4 class="card-title">Художник</h4>
    <h6 class="card-subtitle text-muted">2015-2016</h6>
    <hr>
    <p class="card-text">Работех при ОДК "Шумен". Учех децата как да изразяват себе си чрез изобразителното изкуство.</p>
    <hr>
    {{#link-to "content.articles.index" class="card-link"}}Посети{{/link-to}}
    {{#link-to "content.articles.index" class="card-link"}}Редактирай{{/link-to}}
    {{#link-to "content.articles.index" class="card-link"}}Изтрий{{/link-to}}
  </div>
</div>