{{title "Панел за разработчици"}}

<div class="container">
  <div class="page-title">
    <h2 class="float-left">Панел за разработчици</h2>
    <button class="btn btn-success float-right" data-toggle="modal" data-target=".modal.addTheme">
      Нова тема
    </button>

    {{theme-modal
      data=addTheme
      modalVisible=addThemeModalVisible
      alert=addThemeAlert
      disableSubmit=disableSubmit
      addTheme=(action 'addTheme')
    }}
  </div>

  <div class="row">
    <div class="col-xs-12">
    </div>
  </div>
</div>
