{{title "Моите статии"}}
<div class="page-title">
  <h2 class="pull-xs-left">Моите статии</h2>
  {{#link-to "dashboard.content.articles.new" class="btn btn-success pull-xs-right"}}
    Нова статия
  {{/link-to}}
</div>
<div class="row">
  <div class="col-xl-4 col-md-6">
    <div class="card card-block">
      <h4 class="card-title">The Starry Night</h4>
      <div class="card-img">
        <img class="img-fluid m-x-auto d-block" src="http://goo.gl/CQTpGC" alt="The Starry Night">
      </div>
      <p class="card-text border">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus purus in nulla lobortis eleifend. Curabitur at euismod leo.</p>
      {{#link-to "dashboard.content.articles.index" class="card-link"}}Посети{{/link-to}}
      {{#link-to "dashboard.content.articles.index" class="card-link"}}Редактирай{{/link-to}}
      {{#link-to "dashboard.content.articles.index" class="card-link"}}Изтрий{{/link-to}}
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card card-block">
      <h4 class="card-title">Irises</h4>
      <div class="card-img">
        <img class="img-fluid m-x-auto d-block" src="http://goo.gl/IVBfOQ" alt="Irises">
      </div>
      <p class="card-text border">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus purus in nulla lobortis eleifend. Curabitur at euismod leo.</p>
      {{#link-to "dashboard.content.articles.index" class="card-link"}}Посети{{/link-to}}
      {{#link-to "dashboard.content.articles.index" class="card-link"}}Редактирай{{/link-to}}
      {{#link-to "dashboard.content.articles.index" class="card-link"}}Изтрий{{/link-to}}
    </div>
  </div>
</div>