{{title "Моите статии"}}
<div class="page-title">
  <h2 class="pull-xs-left">Моите статии</h2>
  {{#link-to "dashboard.content.articles.new" class="btn btn-success pull-xs-right"}}
    Нова статия
  {{/link-to}}
</div>
<div class="card-columns">
  <div class="card card-block">
    <h4 class="card-title">The Starry Night</h4>
    <hr>
    <img class="img-fluid m-x-auto d-block" src="http://goo.gl/CQTpGC" alt="The Starry Night">
    <p class="card-text">The Starry Night is an oil on canvas by the Dutch post-impressionist painter Vincent van Gogh...</p>
    <hr>
    {{#link-to "dashboard.content.articles.index" class="card-link"}}Посети{{/link-to}}
    {{#link-to "dashboard.content.articles.index" class="card-link"}}Редактирай{{/link-to}}
    {{#link-to "dashboard.content.articles.index" class="card-link"}}Изтрий{{/link-to}}
  </div>
  <div class="card card-block">
    <h4 class="card-title">Irises</h4>
    <hr>
    <img class="img-fluid m-x-auto d-block" src="http://goo.gl/IVBfOQ" alt="Irises">
    <p class="card-text">Irises is one of many paintings and prints of irises by the Dutch artist Vincent van Gogh..</p>
    <hr>
    {{#link-to "dashboard.content.articles.index" class="card-link"}}Посети{{/link-to}}
    {{#link-to "dashboard.content.articles.index" class="card-link"}}Редактирай{{/link-to}}
    {{#link-to "dashboard.content.articles.index" class="card-link"}}Изтрий{{/link-to}}
  </div>
</div>