{{title "Моите работни места"}}
<div class="page-title">
  <h2 class="pull-xs-left">Моите работни места</h2>
  {{#link-to "dashboard.content.jobs.new" class="btn btn-success pull-xs-right"}}
    Ново работно място
  {{/link-to}}
</div>
<div class="row">
  <div class="col-xl-4 col-md-6">
    <div class="card card-block">
      <h4 class="card-title">Художник</h4>
      <h6 class="card-subtitle text-muted">20.10.2015 - 23.06.2016</h6>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus purus in nulla lobortis eleifend. Curabitur at euismod leo.</p>
      {{#link-to "dashboard.content.articles.index" class="card-link"}}Посети{{/link-to}}
      {{#link-to "dashboard.content.articles.index" class="card-link"}}Редактирай{{/link-to}}
      {{#link-to "dashboard.content.articles.index" class="card-link"}}Изтрий{{/link-to}}
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card card-block">
      <h4 class="card-title">Графичен дизайнер</h4>
      <h6 class="card-subtitle text-muted">20.10.2015 - 23.06.2016</h6>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus purus in nulla lobortis eleifend. Curabitur at euismod leo.</p>
      {{#link-to "dashboard.content.articles.index" class="card-link"}}Посети{{/link-to}}
      {{#link-to "dashboard.content.articles.index" class="card-link"}}Редактирай{{/link-to}}
      {{#link-to "dashboard.content.articles.index" class="card-link"}}Изтрий{{/link-to}}
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card card-block">
      <h4 class="card-title">Учител по ИТ</h4>
      <h6 class="card-subtitle text-muted">20.10.2015 - 23.06.2016</h6>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus purus in nulla lobortis eleifend. Curabitur at euismod leo.</p>
      {{#link-to "dashboard.content.articles.index" class="card-link"}}Посети{{/link-to}}
      {{#link-to "dashboard.content.articles.index" class="card-link"}}Редактирай{{/link-to}}
      {{#link-to "dashboard.content.articles.index" class="card-link"}}Изтрий{{/link-to}}
    </div>
  </div>
</div>
