{{nav-bar}}
<div class="container">
  <div class="page-tabs">
    <div class="btn-group" role="group">
      {{#link-to "content.articles.index" class="btn btn-secondary"}}Статии{{/link-to}}
      {{#link-to "content.projects.index" class="btn btn-secondary"}}Проекти{{/link-to}}
      {{#link-to "content.jobs.index" class="btn btn-secondary"}}Работни места{{/link-to}}
      {{#link-to "content.information" class="btn btn-secondary"}}Информация{{/link-to}}
    </div>
  </div>
  {{outlet}}
</div>