{{title "Контакти"}}
{{index-navbar}}
<div class="container text-xs-center">
  <div class="section-title">
    <h5 class="float-xs-left">Контакти</h5>
  </div>
  <div class="section text-xs-left">
    <div class="form-group">
      <input type="text" class="form-control" id="name" placeholder="Име">
    </div>
    <div class="form-group">
      <input id="email" placeholder="E-mail" autocomplete="off" name="email" type="email" class="form-control">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" id="text-input" placeholder="Съобщение">
    </div>
    <div class="text-xs-right">
      <div class="btn btn-success">Изпрати</div>
    </div>
  </div>
  <div class="footer">
    {{x-footer}}
  </div>
</div>