{{title "Контакти"}}
{{index-navbar}}
<div class="container text-center">
  <div class="section-title">
    <h3 class="text-left">Контакти</h3>
  </div>
  <div class="section">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.102444769162!2d26.93937865758784!3d43.27022956028707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x24ca44460d53d49c!2z0KHQoyAi0KHQsNCy0LAg0JTQvtCx0YDQvtC_0LvQvtC00L3QuCI!5e0!3m2!1sbg!2sbg!4v1481476432905" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <p class="text-right">гр. Шумен <br> бул. Мадара №34 <br> Тел. 0000000000 <br> Факс: 000-000-0000 <br> E-mail: johndoe@gmail.com</p>
  </div>
</div>
<div class="footer">
  {{x-footer}}
</div>
