<div class="center-wrapper center-wrapper--auth">
  <section class="center-content center-content--auth">
    {{#link-to "index" class="auth-logo"}}
      {{logo-symbol class="logo-symbol"}}
      {{logo-text class="logo-text"}}
    {{/link-to}}
    <div class="auth-form">
      <h2 class="text-xs-center">Забравена парола</h2>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email" placeholder="Напиши е-mail адреса си">
      </div>
      <button class="btn btn-success btn-block" {{action "sendForgotPasswordLink"}}>Изпрати</button>
    </div>
  </section>
</div>