{{title "Забравена парола"}}

{{#auth-form model=model
  form-name="Забравена парола"
  form-action-name="Изпрати"
  disableForm=disableForm
  alert=alert
  formAction=(action "sendForgotPasswordLink")
  as |section|
}}
  {{#if section.isContent}}
    {{validated-input model=model
      label="E-mail"
      value=email
      valuePath="email"
      type="email"
      placeholder='Напиши е-mail адреса си'
      autocomplete="off"
      disabled=disableForm
    }}
  {{else if section.isBottom}}
    <p>Вече имате профил? {{#link-to "login"}}Вход{{/link-to}}</p>
  {{/if}}
{{/auth-form}}
