<div class="auth-wrapper">
  <section class="auth-content">
    <div class="auth-form">
      <h2 class="text-xs-center">Забравена парола</h2>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email" placeholder="Напиши е-mail адреса си">
      </div>
      {{#link-to "index" class="btn btn-success btn-block"}}Изпрати{{/link-to}}
    </div>
  </section>
</div>