{{title "Вход"}}

{{#auth-form model=model
  form-name="Вход"
  form-action-name="Вход"
  disableForm=disableForm
  alert=alert
  formAction=(action "login")
  as |section|
}}
  {{#if section.isContent}}
    {{validated-input model=model
      label="E-mail"
      value=email
      valuePath="email"
      type="email"
      placeholder='Напиши е-mail адреса си'
      autocomplete="off"
      disabled=disableForm
    }}

    {{validated-input model=model
      label="Парола"
      value=password
      valuePath='password'
      type="password"
      placeholder='Напиши паролата си'
      disabled=disableForm
    }}
  {{else if section.isBottom}}
    <p>Нямате профил? {{#link-to "registration"}}Регистрация{{/link-to}}</p>
    {{#link-to "forgot-password"}}Забравена парола?{{/link-to}}
  {{/if}}
{{/auth-form}}