{{nav-bar}}
<div class="container">
  <h1>Известия</h1>
  {{#link-to "index" class="notification"}}
    <img src="https://goo.gl/IBvVuP" alt="Mertin Dervish" class="notification-picture img-rounded pull-xs-left">
    <div class="notification-text">
      <strong>Mertin Dervish</strong> ви последва.
    </div>
    <div class="notification-date">
      преди 10 часа
    </div>
  {{/link-to}}
  {{#link-to "index" class="notification"}}
    <img src="https://goo.gl/IBvVuP" alt="Mertin Dervish" class="notification-picture img-rounded pull-xs-left">
    <div class="notification-text">
      <strong>Mertin Dervish</strong> хареса ваша публикация.
    </div>
    <div class="notification-date">
      преди 10 часа
    </div>
  {{/link-to}}
  {{#link-to "index" class="notification"}}
    <img src="https://goo.gl/IBvVuP" alt="Mertin Dervish" class="notification-picture img-rounded pull-xs-left">
    <div class="notification-text">
      <strong>Mertin Dervish</strong> хареса ваша публикация.
    </div>
    <div class="notification-date">
      преди 10 часа
    </div>
  {{/link-to}}
  {{#link-to "index" class="notification"}}
    <img src="https://goo.gl/IBvVuP" alt="Mertin Dervish" class="notification-picture img-rounded pull-xs-left">
    <div class="notification-text">
      <strong>Mertin Dervish</strong> хареса ваша публикация.
    </div>
    <div class="notification-date">
      преди 10 часа
    </div>
  {{/link-to}}
  {{#link-to "index" class="notification"}}
    <img src="https://goo.gl/IBvVuP" alt="Mertin Dervish" class="notification-picture img-rounded pull-xs-left">
    <div class="notification-text">
      <strong>Mertin Dervish</strong> хареса ваша публикация.
    </div>
    <div class="notification-date">
      преди 10 часа
    </div>
  {{/link-to}}
  {{#link-to "index" class="notification"}}
    <img src="https://goo.gl/IBvVuP" alt="Mertin Dervish" class="notification-picture img-rounded pull-xs-left">
    <div class="notification-text">
      <strong>Mertin Dervish</strong> хареса ваша публикация.
    </div>
    <div class="notification-date">
      преди 10 часа
    </div>
  {{/link-to}}
  <button type="button" class="btn btn-secondary btn-block notification-more">Виж повече</button>
</div>