{{title "Поверителност"}}
{{index-navbar}}
<div class="container text-xs-center">
  <div class="section-title">
    <h5 class="float-xs-left">Поверителност</h5>
  </div>
  <div class="section">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi deleniti harum autem, ad consectetur, maxime labore nam, porro corporis iste dicta repellendus. Quia, modi pariatur eveniet, esse culpa nemo animi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi deleniti harum autem, ad consectetur, maxime labore nam, porro corporis iste dicta repellendus. Quia, modi pariatur eveniet, esse culpa nemo animi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi deleniti harum autem, ad consectetur, maxime labore nam, porro corporis iste dicta repellendus. Quia, modi pariatur eveniet, esse culpa nemo animi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi deleniti harum autem, ad consectetur, maxime labore nam, porro corporis iste dicta repellendus. Quia, modi pariatur eveniet, esse culpa nemo animi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi deleniti harum autem, ad consectetur, maxime labore nam, porro corporis iste dicta repellendus. Quia, modi pariatur eveniet, esse culpa nemo animi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi deleniti harum autem, ad consectetur, maxime labore nam, porro corporis iste dicta repellendus. Quia, modi pariatur eveniet, esse culpa nemo animi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi deleniti harum autem, ad consectetur, maxime labore nam, porro corporis iste dicta repellendus. Quia, modi pariatur eveniet, esse culpa nemo animi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi deleniti harum autem, ad consectetur, maxime labore nam, porro corporis iste dicta repellendus. Quia, modi pariatur eveniet, esse culpa nemo animi.</p>
  </div>
  <div class="footer">
    {{x-footer}}
  </div>
</div>